@model ProjSecDemo.Data.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fabricant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fabricant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InfoSup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InfoSup)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prix_Vente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prix_Vente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
